<div class="pokemon-dropdown">
  <!-- Recherche avec une icône -->
  <app-recherche></app-recherche>





  <!-- Bouton d'ajout de Pokémon avec une icône FontAwesome -->
  <button class="btn-add" (click)="addPokemon()">
    <i class="fas fa-plus"></i> Ajouter un Pokémon
  </button>

  <!-- Détails du Pokémon sélectionné avec des icônes FontAwesome -->

  <div class="pokemon-list-container">
    <div class="pokemon-card" *ngFor="let pokemon of pokemons" (click)="gotodetail(pokemon.id)">
      <img [src]="pokemon.picture" alt="{{ pokemon.name }}" class="pokemon-image" />
      <div class="pokemon-info">
        <h4>{{ pokemon.name }}</h4>
      </div>
    </div>
  </div>
  

</div>
