<h2>Détails du Pokémon</h2>

<!-- Affichage de l'image du Pokémon avec un effet de survol -->
<div class="pokemon-detail">
  <img [src]="pokemon!.picture" alt="{{ pokemon!.name }}" class="pokemon-image" />

  <!-- Affichage de l'ID avec une icône -->
  <p><i class="fas fa-id-badge"></i> <strong>NAME:</strong> {{ pokemon!.name }}</p>

  <!-- Affichage des HP avec une icône -->
  <p><i class="fas fa-heart"></i> <strong>HP:</strong> {{ pokemon!.hp }}</p>

  <!-- Affichage des CP avec une icône -->
  <p><i class="fas fa-bolt"></i> <strong>CP:</strong> {{ pokemon!.cp }}</p>

  <!-- Affichage des types avec une icône -->
  <p><i class="fas fa-cogs"></i> <strong>Types:</strong>
    <span class="{{type | pokemonTypeColor}}" *ngFor="let type of pokemon!.types; let isLast = last">
      {{ type }}<span *ngIf="!isLast">, </span>
    </span>
  </p>

  <!-- Affichage de la date de création avec une icône -->
  <p><i class="fas fa-calendar-alt"></i> <strong>Créé le:</strong> {{ pokemon!.created | date:'dd/MM/yyyy' }}</p>
</div>

<!-- Boutons pour modifier et supprimer le Pokémon avec des icônes -->
<div class="action-buttons">
  <button class="btn btn-edit" (click)="editPokemon()"><i class="fas fa-edit"></i> Modifier</button>
  <button class="btn btn-back" (click)="goBack()"><i class="fas fa-home"></i> retour</button>
  <button class="btn btn-delete" (click)="deletePokemon()"><i class="fas fa-trash-alt"></i> Supprimer</button>
</div>
