<h2>Ajouter un Pokémon</h2>
<form (ngSubmit)="onSubmit()" #pokemonForm="ngForm">
  <div class="form-group">
    <label for="name"><i class="fas fa-paw"></i> Nom:</label>
    <input type="text" id="name" [(ngModel)]="pokemon!.name" name="name" required placeholder="Nom du Pokémon" />
  </div>

  <div class="form-group">
    <label for="hp"><i class="fas fa-heart"></i> HP:</label>
    <input type="number" id="hp" [(ngModel)]="pokemon!.hp" name="hp" required placeholder="Points de vie" />
  </div>

  <div class="form-group">
    <label for="cp"><i class="fas fa-bolt"></i> CP:</label>
    <input type="number" id="cp" [(ngModel)]="pokemon!.cp" name="cp" required placeholder="Points de combat" />
  </div>

  <div class="form-group">
    <label for="picture"><i class="fas fa-image"></i> Image URL:</label>
    <input type="text" id="picture" [(ngModel)]="pokemon!.picture" name="picture" required placeholder="URL de l'image" />
  </div>

  <div class="form-group">
    <label for="types"><i class="fas fa-cogs"></i> Types (séparés par des virgules):</label>
    <input type="text" id="types" [(ngModel)]="typesInput" name="types" required placeholder="Types du Pokémon" />
  </div>

  <div class="form-group">
    <button type="submit" class="btn btn-primary"><i class="fas fa-plus"></i> Ajouter le Pokémon</button>
    <button type="button" class="btn btn-secondary" (click)="cancel()"><i class="fas fa-times"></i> Annuler</button>
  </div>
</form>
