/* Style pour la carte */
.card {
  margin-top: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Champ de recherche */
.input-field {
  position: relative;
  margin-bottom: 20px;
}

/* Icône avant le champ de recherche */
.input-field i {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #007bff;
  transition: opacity 0.3s ease;
}

/* Champ de texte avec padding pour l'icône */
#search-input {
  padding-left: 30px; /* Pour laisser de l'espace pour l'icône */
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
  width: 100%;
  padding: 10px;
}

/* Effet de focus sur l'input */
#search-input:focus {
  border-color: #007bff;
  outline: none;
}
